    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    Você está convidado para o mais lindo evento das nossas vidas!
                </h2>
                <h3>
                    E aí, já sabe do que se trata?
                </h3>
                <p>
                    Sim! Estamos nos casando e gostaríamos de compartilhar esse momento de alegria, paixão e muito amor com algumas das pessoas mais queridas por nós!
                    Esse pequeno evento marca uma grande mudança em nossas vidas e tem por objetivo confraternizar a nossa união, o nosso amor e a nossa vontade de vivermos juntos e felizes para sempre!
                </p>
                <p>
                    A reunião será bastante simples e para pouquíssimos convidados, já que o nosso objetivo é, realmente, estar com aqueles que, de alguma forma, participaram da nossa história e torceram de perto por nós nesses quatro anos.
                    Como você pode imaginar, esse é um grande passo em nossas vidas e ficaremos muito felizes com a participação de cada convidado!
                    Fizemos uma <a href="https://goo.gl/forms/t7poHoKJQHL75gfy2" target="_blank" class="btn btn-default btn-lg">LISTA DE PRESENÇA</a> para que possamos acompanhar quantas pessoas irão comparecer e quantos quitutes e bebidas devemos providenciar! 
                    Por gentileza, acesse a <a href="https://goo.gl/forms/t7poHoKJQHL75gfy2" target="_blank" class="btn btn-default btn-lg">LISTA</a> e inclua o seu nome e o nome de alguma pessoa que eventualmente te acompanhe! =D
                </p>
                <p>
                    E, como nem só de pão vive o homem (trocadilhos a parte! rsrs), aproveitamos essa oportunidade para deixar aqui embaixo os links das nossas listas de presentes, elaboradas em três diferentes lugares para atender a todos os gostos!
                    Sinta-se à vontade para nos ajudar a preencher nosso lar, sabendo que cada detalhe será muito bem-vindo! Com os mimos e a participação de cada um, montaremos o cantinho no qual viveremos felizes e nos lembraremos com muito carinho desse momento especial!!
                </p>
            </div>
        </div>
    </section>