    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    Você está convidado para o maior evento das nossas vidas!!
                </h2>
                <p>
                   Obrigado por participar desse momento de alegria, paixão, prazer e muito amor. Estamos realizando esse pequeno evento, para marcar a mudança das nossas vidas, para que tornemos público o nosso amor e a nossa vontade de nunca se separar.
                </p>
                <p>
                    Esse é um grande passo em nossas vidas e ficaremos muito felizes com a participação de cada um de vocês!! Fizemos uma lista de presença, para que possamos ter a ciência de quantas pessoas irão comparecer e quantos quitutes e bebidas deveremos providenciar! Por gentileza, acesse o link e inclua o seu nome e das pessoas que irão te acompanhar!! =D
                </p>
                <a href="https://goo.gl/forms/t7poHoKJQHL75gfy2" target="_blank" class="btn btn-default btn-lg">Lista de Presença</a>
                <p> </p>
                <p>
                    Como nem só de pão vive o homem (Trocadilhos a parte! rsrs), deixaremos a nossa lista para que se sintam a vontade e possam nos ajudar a construir o nosso lar, o cantinho que viveremos felizes e que nos lembraremos desse dia e de todos vocês nesse momento especial!!
                </p>
                <!-- <a href="https://docs.google.com/spreadsheets/d/1ydlN50r8Q6l6GJ3cVzoOpcrMQHbxBw0tIetGeVS84UY/edit?usp=sharing" target="_blank" class="btn btn-default btn-lg">Lista na Fast Shop</a> -->
                <a href="http://listadecasamento.fastshop.com.br/ListaCasamento/ListaCasamentoProdutos.aspx?ID=219367" target="_blank" class="btn btn-default btn-lg">Lista na Fast Shop</a>
                <a href="https://www.camicado.com.br/weddinglist/products/60318926" target="_blank" class="btn btn-default btn-lg">Lista na Camicado</a>
                <a href="http://www2.zelo.com.br/weddinglistProducts.aspx?id=76637&idproduct=&qty=" target="_blank" class="btn btn-default btn-lg">Lista na Zelo</a>                
 
            </div>
        </div>
    </section>