    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    VOCÊ ESTÁ CONVIDADO PARA O CHÁ DOS NOIVOS MAIS DIVERTIDO DO ANO!
                </h2>
                <p>
                    É isso mesmo! Estamos nos casando e gostaríamos de compartilhar esse momento de alegria, paixão e muito amor com algumas das pessoas mais queridas por nós, realizando um pequeno Chá para marcar nossa união!
                </p>
                <p>
                    Iremos nos casar no dia 17/02/2017 e, como optamos por não realizar uma festa de casamento, faremos o Chá dos Noivos no dia 11/02/2017.
                </p>
                <p>
                    Esse Chá é uma mistura de Chá Bar, Chá de Panela, Chá de Lingerie, Chá de Boteco e Despedida de Solteiro - tudo junto e misturado, para curtirmos o momento! xD
                </p>
                <p>
                    Como você pode imaginar, o casamento é um grande passo em nossas vidas e ficaremos muito felizes com a participação de cada convidado!
                </p>
                <p>
                    E, como nem só de pão vive o homem (trocadilhos a parte! rsrs), sinta-se à vontade para nos ajudar a preencher nosso lar, sabendo que cada detalhe será muito bem-vindo! Com os mimos e a participação de cada um, montaremos o cantinho no qual viveremos felizes e nos lembraremos com muito carinho desse momento especial!!
                </p>
                <p>
                    E um recado especial para as meninas: também tem lista em qualquer loja física da Any Any! Basta dar o nome da noiva e entrar na brincadeira!
                </p>                
                <h4>
                    AH, ESPERA AÍ! AS NOVIDADES AINDA NÃO ACABARAM!
                </h4>
                <p>
                    Gostaríamos que soubesse que se você está recebendo esse convite virtual é porque, dentro do que planejamos para a nossa união, te consideramos muito mais do que um simples convidado!
                </p>
                <p>
                    Como dissemos, o nosso Chá dos Noivos é para que possamos estar com aqueles que participaram da nossa história e que torceram de perto por nós. Mas, mais do que a participação que você teve até agora em nossas vidas, gostaríamos de te convidar para apadrinhar a nossa união!
                </p>
                <p>
                    Embora a gente não vá fazer uma festa de casamento, todos os que estarão presentes no nosso Chá são, para nós, padrinhos que, de alguma forma (com palavras, gestos, carinho, torcida, incentivo, paciência, etc) nos ajudaram a chegar nesse dia – e que queremos que continuem nessa missão por toda a vida!
                </p>
                <p>
                    E você sabe o que significa ser padrinho ou madrinha de um casamento?
                </p>
                <p>
                    A tradição da escolha de um padrinho é um costume que remonta à antiguidade, na qual se escolhia um bom amigo, na maioria das vezes um guerreiro tribal, para ajudar a proteger a noiva de possíveis raptores, conhecidos por rondarem o local da cerimônia.
                </p>
                <p>
                    Já na definição trazida pelo dicionário, a palavra “padrinho” significa testemunha de batismo, casamento ou duelo.
                    Nesse contexto, é preciso dizer que, segundo a crença cristã, o casamento é a constituição de uma nova sociedade conjugal e familiar que se agregará à sociedade, fazendo-a crescer, razão pela qual deve ser resguardado e bem conduzido – e é justamente aí que entra o papel do padrinho!
                </p>
                <p>
                    No caso dos padrinhos de casamento, estes se constituem em pais e mães espirituais, que tem por tarefa compartilhar ensinamentos de vida para a melhor condução do relacionamento, orientando o casal, auxiliando na resolução de problemas, proferindo palavras de paz, equilíbrio, incentivo e amor. Os padrinhos, assim, são escolhidos para testemunhar e abençoar a união do casal, passando a fazer parte da vida dos noivos, com a eterna função de estar ao lado do casal e primar pela manutenção e pelo sucesso do casamento.
                </p>
                <p>
                    Assim, mesmo quando você sequer desconfiava, nós valorizávamos cada conversa, comentário, gesto ou incentivo dado ao longo desses quatro anos, passando a te ver como alguém que contribuiu para chegarmos até aqui!
                </p>
                <h4>
                    Esperamos que você goste do convite e que saiba que ficaremos muito felizes se pudermos contar com você - não apenas nessa pequena confraternização, mas ao longo de nossas vidas, como verdadeiro guia!
                </h4>
                <h3>
                    E aí, topa? ;D
                </h3>
            </div>
        </div>
    </section>