    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="http://listadecasamento.fastshop.com.br/ListaCasamento/ListaCasamentoProdutos.aspx?ID=219367" target="_blank" class="btn btn-default btn-lg">Lista na Fast Shop</a>
                    <p></p>
                    <a href="https://www.camicado.com.br/weddinglist/products/60318926" target="_blank" class="btn btn-default btn-lg">Lista na Camicado</a>
                    <p></p>
                    <a href="http://www2.zelo.com.br/weddinglistProducts.aspx?id=76637&idproduct=&qty=" target="_blank" class="btn btn-default btn-lg">Lista na Zelo</a> 
                </div>
            </div>
        </div>
    </section>